{% extends "base.html" %}
{% load static %}
{% block about_ksa %}

    <div class="logo_title">
        <!-- Fist page  -->
        <div class="a_firstPage">
            <img src = "{% static '/image/firstBackground.png' %}" alt = "Firstbackground">

            <div class="a_homeLogo">
                <img id="a_logo" src="logo.png" alt="logo">
                <h1 id="a_KSAshort">KSA</h1>
                <h4 id="a_KSAlong">ASU Korean Student Association</h4>
            </div>

            <div class="a_icon">
                <a href="https://www.instagram.com/asu_ksa/?hl=en"><img src="" alt="instaLogo" style="width:37px;height:35px;padding-right:7px;"></a>
                <a href="https://www.facebook.com/AZKoreanAssociation"><img src="{% static '/image/instagram.png' %}c '/image/facebook.png' %}" alt="faceLogo" style="width:37px;height:35px;padding-left:7px;"></a>
            </div>
        </div>
    </div>
        <!-- About KSA -->
    <div class="about_ksa" id="about_ksa">
        <div class="a_container">
            <div class="a_content1">
                <img id="a_koFlag" style="width:9%;" src="{%static '/image/korea.png' %}" alt="koFlag">
                <img id="a_line" style="width:19%;" src="{%static '/image/line.png' %}" alt="line">
                <img id="a_university" style="width:17%;" src="{%static '/image/a_university.png' %}" alt="logo">
                <img id="a_line" style="width:19%;" src="{%static '/image/line.png' %}" alt="line">
                <img id="a_usaFlag" style="width:9%;" src="{%static '/image/usa.png' %}" alt="usaFlag">
            </div>
        
            <div class="a_content2" class="col-md-7" data-aos="fade-down">
                <h1 id="a_header" class="a_lg-text">
                </h1>
            </div>

            <div class="a_content3">
                <div class="a_cont3Box1">
                    <p id='a_koBt' style='display: none'><b style="font-size: 20px;">KSA </b>원질이 위하여, 갑 꽃이 인생을 이 그들의 스며들어 있다. 
                        피어나기 보이는 피가 방황하였으며, 주며, 것이다. 우리 얼음과 그림자는 방지하는 설산에서 못할 같으며, 가치를 것이다. 설산에서 눈에 것이다.
                        보라, 없으면, 것은 그들은 그들의 아니다. 장식하는 청춘은 소금이라 물방아 창공에 하는 되려니와, 미묘한 어디 운다. 남는 것이다.보라, 우리 이것이다.
                        그들에게 보는 밝은 유소년에게서 용감하고 운다. 열락의 같이, 발휘하기 광야에서 구하지 현저하게 그들의 굳세게 있다. 피가 꾸며 피고 열락의 그들에게 
                        가지에 하는 굳세게 것이다. 주며, 현저하게 그들의 실현에 사막이다.황금시대의 있을 얼마나 것은 투명하되 그들을 아니다.
                    </p>     
                    <p id='a_enBt' class="col-md-7" data-aos="fade-up"><b style="font-size: 20px;">KSA </b>is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>  
                </div>  
                <!-- Button div -->
                <div class="a_cont3Box2">
                    <i class="fas fa-globe" style="margin-right:-5px; vertical-align:middle;"></i>
                    <button class="a_button a_button1" style="color: white;" type='a_button1' onclick="toggle_Ko()">KOREAN</button>
                    <span style="font-weight:bold; color:white;">|</span>
                    <button class="a_button a_button2" style="color:white;" type='a_button2' onclick="toggle_En()">ENGLISH</button>
                </div> 
            </div>
        </div>
    </div>
    {% block pictures%}{% endblock %}

{% endblock %}