{% extends "members.html" %}
{% block landing_page %}
{% load static %}

<div class="footer">
  <div class="f_background"></div>
  <div class="f_content">
    <div class="f_content_child">
      <img src="{% static 'image/asu_logo.png' %}" style="height: 50%; margin: 8%">
      <div class="f_content_links">
        <div>
          <a href="https://www.asu.edu/">ASU Home Page</a>
        </div>
        <div>
          <a href="https://wpcarey.asu.edu/">W.P.Carey School of Business</a>
        </div>
        <div>
          <a href="https://engineering.asu.edu/">Ira A.Fulton Schools of Engineering</a>
        </div>
        <div>
          <a href="https://herbergerinstitute.asu.edu/">Herberger Institute for Design and the Arts</a>
        </div>
        <div>
          <a href="https://thecollege.asu.edu/">The College of Liberal Arts and Science</a>
        </div>
      </div>
      <div class="f_content_logos">
        <a href="https://www.instagram.com/asu_ksa/?hl=en"><img src="{% static '/image/a_instagram.png' %}" alt="instaLogo" ></a>
        <a href="https://www.facebook.com/groups/146189828808343"><img src="{% static '/image/a_facebook.png' %}" alt="faceLogo"></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}