{% extends "members.html" %}
{% block landing_page %}

<!-- <body>
    <header style="padding-top: 10rem"></header>
    <div style="height: 200px;" id="landing_div1">
        <h1>Hi this is land_page1</h1>
    </div>
    <div style="height: 200px;" >
        <h1>Hi this is land_page2</h1>
    </div>
    <div style="height: 200px;">
        <h1>Hi this is land_page3</h1>
    </div>
    <div style="height: 200px;">
        <h1>Hi this is land_page4</h1>
    </div>
    <div style="height: 200px;">
        <h1>Hi this is land_page5</h1>
    </div>
    <div style="height: 200px;">
        <h1>Hi this is land_page6</h1>
    </div>
    <div style="height: 200px;" id="landing_div7">
        <h1>Hi this is land_page7</h1>
    </div>

</body> -->

{% endblock %}