d{% extends "aboutKSA.html" %}
{% load static %}
{% block pictures %}
  <div class='picture' id='picture'>
    <img src="{% static '/image/KSA_gallery_background' %}" class="back_background" alt="KSA gallery background">
    <div class="s_background"></div>
    <div class="child-page-listing">
      <h2>KSA Gallery</h2>
      <h3 Class="G_discription">need something to put </h3>
    
      <div class="pic_padding">
        <div class="grid-container">
          <article id="3685" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup1">
                  ASU & UofA Sports day           
              </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/asu_uofa_cropped.jpg' %}" alt="ASU & UofA Sports day">    </a>
        
              </div>
            </div>
          </article>
      
          <article id="3688" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup2">
                  ASU & UofA Sports day            </a>
        
              <div class="location-image" id="p_uofa2">
                <a href="../image/asu_uofa2.jpg">
                    <img src="{% static '/image/asu_uofa2_cropped.jpg' %}" class="test" alt="ASU & UofA Sports day">  </a>
        
              </div>
            </div>
          </article>
      
          <article id="3691" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup3">
                  KSA MT            </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/asu_MT_cropped.jpg' %}" alt="KSA MT">  </a>
        
              </div>
            </div>
          </article>
      
          <article id="3694" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup4">
                  2018 Fall MT           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 1_cropped.jpg' %}" alt="2018 Fall MT">  </a>
        
              </div>
            </div>
      
          </article>
      
          <article id="3697" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup5">
                  2018 Fall MT           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 2_cropped.jpg' %}" alt="2018 Fall MT">    </a>
        
              </div>
            </div>
          </article>
      
          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup6">
                  2018 Spring MT           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 3_cropped.jpg' %}" alt="2018 Spring MT">          
                  </a>
              </div>
            </div>
      
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup7">
                  2018 Spring MT           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 4_cropped.jpg' %}" alt="2018 Spring MT">          
                  </a>
              </div>
            </div>
      
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup8">
                  2018 Spring MT           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic5_cropped.jpg' %}" alt="2018 Spring MT">          
                  </a>
              </div>
            </div>
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup9">
                  2018 Spring MT           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic6_cropped.jpg' %}" alt="2018 Spring MT">          
                  </a>
              </div>
            </div>
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup10">
                  2019 Spring Job Seminar           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 7_cropped.jpg' %}" alt="2019 Spring Job Seminar">          
                  </a>
              </div>
            </div>
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup11">
                  2019 Spring Job Seminar           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 8_cropped.jpg' %}" alt="2019 Spring Job Seminar">          
                  </a>
              </div>
            </div>
      
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup12">
                  2019 Spring Job Seminar           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 9_cropped.jpg' %}" alt="2019 Spring Job Seminar">          
                  </a>
              </div>
            </div>
      
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup13">
                  ASU Open Door           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 10_cropped.jpg' %}" alt="ASU Open Door">          
                  </a>
              </div>
            </div>
      
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup14">
                  General Meeting           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 11_cropped.jpg' %}" alt="General Meeting">          
                  </a>
              </div>
            <div class='location-title-image'>
        
          </article>

          <article id="3700" class="location-listing">
            <div class='location-title-image'>
              <a class="location-title" href="#s_popup15">
                  General Meeting           </a>
        
              <div class="location-image">
                <a href="#">
                    <img src="{% static '/image/pic 12_cropped.jpg' %}" alt="General Meeting">          
                  </a>
              </div>
            </div>
          </article>
      
        </div>
        <!-- end grid container -->

        <div class = "picture_popup">
          <div id="s_popup1" class="s_overlay">
                  <div class="s_popup">
                                      
                      <a class="s_close" href="#0">&times;</a>
                      <div class="s_content">
                          <img src = "{% static '/image/asu_uofa.jpg' %}" alt = "asu_uofa" class = "s_popimg" >
                          
                          
                      </div>
                  </div>
          </div>
          <div id="s_popup2" class="s_overlay">
            <div class="s_popup">
                                  
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/asu_uofa2.jpg' %}" alt = "asu_uofa2" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup3" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/asu_MT.jpg' %}" alt = "asu_MT" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup4" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic1.jpg' %}" alt = "2018 Fall MT" class = "s_popimg" >
                    
                    
                  </div>
              </div>
          </div>
          <div id="s_popup5" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic2.jpg' %}" alt = "2018 Fall MT" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup6" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic3.jpg' %}" alt = "2018 Spring MT" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup7" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic4.jpg' %}" alt = "2018 Spring MT" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup8" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic5.jpg' %}" alt = "2018 Spring MT" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup9" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic6.jpg' %}" alt = "2018 Spring MT" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup10" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic7.jpg' %}" alt = "2019 Spring Job Seminar" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup11" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic8.jpg' %}" alt = "2019 Spring Job Seminar" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup12" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic9.jpg' %}" alt = "2019 Spring Job Seminar" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup13" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic10.jpg' %}" alt = "ASU Open Door" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup14" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic11.jpg' %}" alt = "General Meeting" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
          <div id="s_popup15" class="s_overlay">
            <div class="s_popup">
                                
                <a class="s_close" href="#0">&times;</a>
                <div class="s_content">
                    <img src = "{% static '/image/pic12.jpg' %}" alt = "General Meeting" class = "s_popimg" >
                    
                    
                </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
{% block members %}{% endblock %}
{% endblock %}