{% extends "aboutKSA.html" %}
{% load static %}
{% block pictures %}
  <div class="members">
    <div class="container">


      <h1 class="s_header" id="s_header1">KSA Pictures</h1>
      <div class="col-md-12">
        <div class="row" >
          <hr>
        
            <div class="gal">
              <a target="_blank" href="{% static 'image/asu_uofa.jpg' %} ">
              <div class="s_container" id="s_one">
                
                  <img src="{% static '/image/asu_uofa.jpg' %} " alt="asu_uofa" class="image" id = "image1">
                    <div class="middle">
                      <div class="text">ASU & U of A Sports day</div>
                    </div>
              </div></a>
                  
              <a target="_blank" href="{% static 'image/asu_uofa2.jpg' %} ">
              <div class="s_container" id="s_two">
                <a target="_blank" href="{% static 'image/asu_uofa2.jpg' %} ">
                  <img src="{% static 'image/asu_uofa2.jpg' %} " alt="asu_uofa2" class = "image" id = "image2">
                    <div class="middle">
                      <div class="text">ASU & U of A Sports day</div>
                    </div>
              </div></a>
                    
              <a target="_blank" href="{% static 'image/asu_MT.jpg' %} ">

              <div class="s_container" id="s_three">
                <a target="_blank" href="{% static 'image/asu_MT.jpg' %} ">
                  <img src="{% static 'image/asu_MT.jpg' %} " alt="asu_MT" class = "image" id = "image3">
                    <div class="middle">
                      <div class="text">KSA MT</div>
                    </div>
              </div></a>

              <a target="_blank" href="{% static 'image/pic1.jpg' %} ">

              <div class="s_container" id="s_four">
                <a target="_blank" href="{% static 'image/pic1.jpg' %} ">
                  <img src="{% static 'image/pic1.jpg' %} " alt="pic1.jpg" class = "image" id = "image4">
                    <div class="middle">
                      <div class="text">2018 Fall MT</div>
                    </div>
              </div></a>


              <a target="_blank" href="{% static 'image/pic2.jpg' %} ">

              <div class="s_container" id="s_five">
                <a target="_blank" href="{% static 'image/pic2.jpg' %} ">
                  <img src="{% static 'image/pic2.jpg' %} " alt="pic2.jpg" class = "image" id = "image5">
                    <div class="middle">
                      <div class="text">2018 Fall MT</div>
                    </div>
              </div></a>


              <a target="_blank" href="{% static 'image/pic3.jpg' %} ">

              <div class="s_container" id="s_six">
                <a target="_blank" href="{% static 'image/pic3.jpg' %} ">
                  <img src="{% static 'image/pic3.jpg' %} " alt="pic3.jpg" class ="image"  id = "image6">
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div></a>
              


              <a target="_blank" href="{% static 'image/pic4.jpg' %} ">

              <div class="s_container" id="s_seven">
                <a target="_blank" href="{% static 'image/pic4.jpg' %} ">
                  <img src="{% static 'image/pic4.jpg' %} " alt="pic4.jpg" class = "image" id = "image7">
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div></a>


              <a target="_blank" href="{% static 'image/pic5.jpg' %} ">

              <div class="s_container" id="s_eight">
                <a target="_blank" href="{% static 'image/pic5.jpg' %} ">
                  <img src="{% static 'image/pic5.jpg' %} " alt="pic5.jpg" class = "image" id = "image8">
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div></a>
              

              <a target="_blank" href="{% static 'image/pic6.jpg' %} ">
              <div class="s_container" id="s_nine">
                  <img src="{% static 'image/pic6.jpg' %} " alt="pic6.jpg" class = "image" id = "image9">
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div></a>
              
              <a target="_blank" href="{% static 'image/pic7.jpg' %} ">
              <div class="s_container" id="s_ten">
                <!-- <a target="_blank" href="{% static 'image/pic7.jpg' %} "> -->
                  <img src="{% static 'image/pic7.jpg' %} " alt="pic7.jpg" class = "image" id = "image10">
                    <div class="middle">
                      <div class="text">2019 Spring Job Seminar</div>
                    </div>
              </div></a>
              
              <a target="_blank" href="{% static 'image/pic8.jpg' %} ">

              <div class="s_container" id="s_eleven">
                <a target="_blank" href="{% static 'image/pic8.jpg' %} ">
                  <img src="{% static 'image/pic8.jpg' %} " alt="pic8.jpg" class = "image" id = "image11">
                    <div class="middle">
                      <div class="text">2019 Spring Job Seminar</div>
                    </div>
              </div></a>
              

              <a target="_blank" href="{% static 'image/pic9.jpg' %} ">

              <div class="s_container" id="s_twelve">
                <a target="_blank" href="{% static 'image/pic9.jpg' %} ">
                  <img src="{% static 'image/pic9.jpg' %} " alt="pic9.jpg" class = "image" id = "image12">
                    <div class="middle">
                      <div class="text">2019 Spring Job Seminar</div>
                    </div>
              </div></a>
              

              <a target="_blank" href="{% static 'image/pic10.jpg' %} ">

              <div class="s_container" id="s_thirteen">
                <a target="_blank" href="{% static 'image/pic10.jpg' %} ">
                  <img src="{% static 'image/pic10.jpg' %} " alt="pic10.jpg" class = "image" id = "image13">
                    <div class="middle">
                      <div class="text">ASU Open Door</div>
                    </div>
              </div></a>
              

              <a target="_blank" href="{% static 'image/pic11.jpg' %} ">

              <div class="s_container" id="s_fourteen">
                <a target="_blank" href="{% static 'image/pic11.jpg' %} ">
                  <img src="{% static 'image/pic11.jpg' %} " alt="pic11.jpg" class = "image" id = "image14">
                    <div class="middle">
                      <div class="text">General Meeting</div>
                    </div>
              </div></a>
              

              <a target="_blank" href="{% static 'image/pic12.jpg' %} ">

              <div class="s_container" id="s_fifteen">
                
                  <img src="{% static 'image/pic12.jpg' %} " alt="pic12.jpg" class = "image" id = "image15">
                    <div class="middle">
                      <div class="text">General Meeting</div>
                    </div>
              </div></a>
            </div>  
            
          </div>
      </div>
    </div>
  </div>

  {% block members %}{% endblock %}
{% endblock %}