<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>About KSA</title>
</head>
<body>
    <div class="a_t1">
        <h2 class="a_header" id="a_header1">About KSA</h2>
        <h1 class="a_header" id="a_header2">ㅡ</h1>
        
        <div class="a_wrapper">
            <div class="a_p">
                <div class="a_box">
                    <img class="a_img" src="../image/korea.png" alt="태극기">
                </div>
                <h3 id="a_cont2">한국 태극기</h3>
                <p id="a_cont3">한국이 좋아용><ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</p>
            </div>

            <div class="a_p">
                <div class="a_box">
                    <img class="a_img" src="../image/America.png" alt="미국국기">
                </div>
                <h3 id="a_cont2">United State of America</h3>
                <p id="a_cont3">I love America! I love KSA, Korea, culture, and people.lalalal</p>
            </div>
        </div>
    </div>
</body>
</html>