<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <title>About KSA</title>
</head>
<body>
    <div class="a_t1">
        <h2 class="a_header">About KSA</h1>
        <h1 class="a_header">ㅡ</h1>
        
        <div class="a_wrapper">
            <div class="a_p">
                <span>
                    <img src="repair.jpg" width="100" height="100"style="display:block;">
                    <h3 id="a_cont2">REPAIRS</h3>
                </span>
                <p id="a_cont3">General Repaires, Specialist Repairs & Vintage Parts</p>
            </div>

            <div class="a_p">
                <span>
                    <img src="upholstery.jpg" width="100" height="100"style="display:block;">
                    <h3 id="a_cont2">UPHOLSTERY</h3>
                </span>
                <p id="a_cont3">A Range of Fabrics, Including Vintage Leathers, & Wide Variety of Colors</p>
            </div>

            <div class="a_p">
                <img src="paint.jpg"width="100" height="100">
                <h3 id="a_cont2">PAINTWORK</h3>
                <p id="a_cont3">Spray paint, Custom Stencilling & Variety of Custom Made Artwork</p>
            </div>
        </div>
    </div>
</body>
</html>