<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>About KSA</title>
</head>
<body>
    <div class="a_t1">
        <h2 class="a_header" id="a_header1">About KSA</h2>
        <h1 class="a_header" id="a_header2">ㅡ</h1>
        
        <div class="a_wrapper">
            <div class="a_p">
                <div class="a_box">
                    <img class="a_img" src="repair.PNG" alt="repairs">
                </div>
                <h3 id="a_cont2">REPAIRS</h3>
                <p id="a_cont3">General Repaires, Specialist Repairs & Vintage Parts</p>
            </div>

            <div class="a_p">
                <div class="a_box">
                    <img class="a_img" src="upholstery.PNG" alt="upholstery">
                </div>
                <h3 id="a_cont2">UPHOLSTERY</h3>
                <p id="a_cont3">A Range of Fabrics, Including Vintage Leathers, & Wide Variety of Colors</p>
            </div>

            <div class="a_p">
                <div class="a_box">
                    <img class="a_img" src="paintwork.PNG" alt="paintwork">
                </div>
                <h3 id="a_cont2">PAINTWORK</h3>
                <p id="a_cont3">Spray paint, Custom Stencilling & Variety of Custom Made Artwork</p>
            </div>
        </div>
    </div>
</body>
</html>