
.a_t1{
    color: green;
    font-family:'Roboto', sans-serif;
}

.a_header{
   text-align: center;
   font-weight: bold;
}

.a_cont1{
   font-size: 25px;
}

.a_cont2{
    font-size:15px;
}

.m_headers {
    text-align: center;
    color: red;
}

#m_testingPara {
    font-style: italic;
   
}

.p_h1 {
    text-align: center;
    color: blue;
}
