.m_h1 {
    text-align: center;
    font-weight: bold;
}

.m_h2 {
    text-align: center;
}

.m_human {
    text-align: left;
}

#m_testingPara {
    font-style: italic;
   
}

.p_h1 {
    text-align: center;
    color: blue;
    
}
