.a_t1{
    display: inline-block;
    background: linear-gradient( to bottom, gold,maroon );
    color:white;
    font-family: sans-serif;
    width: 1400px;
    height:650px;
}

.a_header{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
 }

#a_header1{
    padding-top:3rem;
 }

#a_header2{
    font-size:40px;
    font-weight: bold;
    padding-top: 0.5rem;
}

.a_wrapper{
    text-align: center;
    padding-top: 0.5rem;
}

.a_p{
    width: 173px;
    height: 248px;
    text-align: center;
    display: inline-block;
    padding: 0 200px;
}

.a_box{
    margin:0px auto;
    width:80px;
    height:80px;
    background-color:white;
    border-color:white;
    border-style: solid;
    border-width: medium;
    overflow: hidden;
}

.a_img{
    width: 75px;
    height: 75px;
    object-fit:cover;
}

/* #a_cont1{
    font-size:30px;
    font-weight: bold;
} */

#a_cont2{
    font-size:15px;
    font-style:normal;
    font-weight: 500;
}

#a_cont3{
    font-style:normal;
    font-size:13px;
    font-weight: 400;
    text-align: center;
}

.m_h1 {
    text-align: center;
    font-weight: bold;
}

.m_h2 {
    text-align: center;
}

.m_h3 {
    text-align: center;
    font-weight: lighter;
}

.m_human {
    text-align: left;
    float: left; 
    width: 22%; 
    padding:10px;
}

.m_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.p_h1 {
    text-align: center;
    color: blue;
}

.s_h1 {
    text-align: center;
}

.s_uofa {
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height : 150px;
}

.s_uofa:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.s_uofa2 {
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.s_uofa2:hover {
    
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.s_MT {

border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;

}

.s_MT:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}