
{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASU KSA</title>
        
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type ="text/css" href = "{% static '/css/base.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Questrial&display=swap" rel="stylesheet">
        <script src="{% static '/js/about_ksa.js' %}"></script>
        <script src="{% static '/js/members.js' %}"></script>
        
    </head>

    <body>
        <nav class="navbar fixed-top navbar-expand-lg" id="nav1">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="nav navbar-nav mx-auto ">
                    <li class="nav-item active">
                        <a class="navbar-brand" href="{% url 'landing_page' %}">
                            <img class="ksa_logo" src="https://media.discordapp.net/attachments/760701027480764439/779911070810505256/download.png?width=392&height=461">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <!--Add href for About Page-->
                        
                        <a class="nav-link" href="#about_ksa">About KSA</a>
                    </li>
                    <li class="nav-item active">
                        <!--Add href for About Page-->
                        
                        <a class="nav-link" href="#picture">Pictures</a>
                    </li>
                    <li class="nav-item active">

                        <a class="nav-link" href="#members">Board Members</a>
                    </li>
                    <li class="nav-item active">
                        <!--Add href for About Page-->
                        <a class="nav-link" href="#">   
                            <img href="#">
                            Log in
                        </a>
                    </li>
                </ul>
            </div>
        </nav>



        <div class="container-fluid" >
            {% block about_ksa %}{% endblock %}
        </div>
        
    </body>
</html>