<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Board Members</title>
</head>
<body>
    <h1 class="m_h1">E-board Members</h1>
    <h3 class="m_h2">This is board members description</h3>
    
    <div class="m_human">
        <img src = "../image/male_icon.jpg"
        alt = "JeongWoo Kim - 김정우" class="m_image">
        <h3 class="m_h3">JeongWoo Kim - 김정우</h3>
        <h3 class="m_h1">President</h3>
    </div>

    <div class="m_human">
        <img src = "../image/female_icon.jpg"
        alt = "Cindy Kim - 이서현" class="m_image">
        <h3 class="m_h3">Cindy Kim - 이서현</h3>
        <h3 class="m_h1">Vice President</h3>
    </div>
    
    <div class="m_human">
        <img src = "../image/male_icon.jpg"
        alt = "Ryan Lee - 이한웅" class="m_image">
        <h3 class="m_h3">Ryan Lee - 이한웅</h3>
        <h3 class="m_h1"> Secretary</h3>
    </div>
    <!-- 페이지 작아지면 이미지 겹치는 문제 해결해야함-->
    <!--<p class="m_h1" id="m_testingPara"><br>test</p> -->
</body>
</html>