<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Board Members</title>
</head>
<body>
    <h1 class="m_h1">E-board Members</h1>
    <h3 class="m_h2">This is board members description</h3>
    <div class="m_human">
        <h3>JeongWoo Kim - 김정우</h3>
        <!--add picture--> 
        <h3>position</h3>
    </div>
    <p class="m_h1" id="m_testingPara">test</p>
</body>
</html>