<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Picture</title>
</head>
<body>
    <h1 class ="s_headers">Pictures</h1>
    <div>
        <a target="_blank" href="../image/asu_uofa.jpg">
        <img src = "../image/asu_uofa.jpg" class="s_uofa" alt = "asu_uofa">
        <a target="_blank" href="../image/asu_uofa2.jpg">
        <img src = "../image/asu_uofa2.jpg" class ="s_uofa2" alt = "asu_uofa2">
        <a target="_blank" href="../image/asu_MT.jpg">
        <img src = "../image/asu_MT.jpg" class ="s_MT" alt = "asu_MT">
    </div>
</body> 
</html>