<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="base.css">
      <title>Picture</title>
  </head>
  <body>
    <div class="container">


      <h1>KSA Pictures</h1>
      <div class="col-md-12">
        <div class="row">
          <hr>
        
            <div class="gal">
            
              <div class="s_container" id="s_first">
                <img src="../image/asu_uofa.jpg" alt="asu_uofa" class="image" style="width:100%" id = "image1">
                <div class="middle">
                  <div class="text">Hyun Jae Babo</div>
                </div>
              </div>
                  
              <div class="s_container" id="s_second">
                <img src="../image/asu_uofa2.jpg" alt="asu_uofa2" class = "image" style = "width : 100%" id = "image2">
                  <div class="middle">
                    <div class="text">Jisung Best</div>
                  </div>
              </div>
                    
              <div class="s_container" id="s_third">
                <img src="../image/asu_MT.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image3">
                <div class="middle">
                  <div class="text">Hyun Jae Best</div>
                </div>
              </div>
              
            
            <!-- <img src="../image/pic1.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image4">
            

            <img src="../image/pic2.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image5">

            <img src="../image/pic3.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image6">

            <img src="../image/pic4.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image7">
            <img src="../image/pic5.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image8">
            <img src="../image/pic6.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image9">
            <img src="../image/pic7.jpg" alt="asu_MT" class = "image" style = "width : 100%" id = "image10"> -->
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
                       
    