<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="base.css">
      <title>Picture</title>
      
  </head>
  <body>
    
    <div class="container">


      <h1 class="s_header" id="s_header1">KSA Pictures</h1>
      <div class="col-md-12">
        <div class="row">
          <hr>
        
            <div class="gal">
            
              <div class="s_container" id="s_one">
                <a target="_blank" href="../image/asu_uofa.jpg">
                  <img src="../image/asu_uofa.jpg" alt="asu_uofa" class="image" id = "image1"></a>
                    <div class="middle">
                      <div class="text">ASU & U of A Sports day</div>
                    </div>
              </div>
                  
              <div class="s_container" id="s_two">
                <a target="_blank" href="../image/asu_uofa2.jpg">
                  <img src="../image/asu_uofa2.jpg" alt="asu_uofa2" class = "image" id = "image2"></a>
                    <div class="middle">
                     <div class="text">ASU & U of A Sports day</div>
                    </div>
              </div>
                    
              <div class="s_container" id="s_three">
                <a target="_blank" href="../image/asu_MT.jpg">
                  <img src="../image/asu_MT.jpg" alt="asu_MT" class = "image" id = "image3"></a>
                    <div class="middle">
                      <div class="text">KSA MT</div>
                    </div>
              </div>

              <div class="s_container" id="s_four">
                <a target="_blank" href="../image/pic1.jpg">
                  <img src="../image/pic1.jpg" alt="pic1.jpg" class = "image" id = "image4"></a>
                    <div class="middle">
                      <div class="text">2018 Fall MT</div>
                    </div>
              </div>

              <div class="s_container" id="s_five">
                <a target="_blank" href="../image/pic2.jpg">
                  <img src="../image/pic2.jpg" alt="pic2.jpg" class = "image" id = "image5"></a>
                    <div class="middle">
                      <div class="text">2018 Fall MT</div>
                    </div>
              </div>

              <div class="s_container" id="s_six">
                <a target="_blank" href="../image/pic3.jpg">
                  <img src="../image/pic3.jpg" alt="pic3.jpg" class ="image"  id = "image6"></a>
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div>
              

              <div class="s_container" id="s_seven">
                <a target="_blank" href="../image/pic4.jpg">
                  <img src="../image/pic4.jpg" alt="pic4.jpg" class = "image" id = "image7"></a>
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div>

              <div class="s_container" id="s_eight">
                <a target="_blank" href="../image/pic5.jpg">
                  <img src="../image/pic5.jpg" alt="pic5.jpg" class = "image" id = "image8"></a>
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div>
              
              <div class="s_container" id="s_nine">
                <a target="_blank" href="../image/pic6.jpg">
                  <img src="../image/pic6.jpg" alt="pic6.jpg" class = "image" id = "image9"></a>
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div>

              <div class="s_container" id="s_nine">
                <a target="_blank" href="../image/pic6.jpg">
                  <img src="../image/pic6.jpg" alt="pic6.jpg" class = "image" id = "image9"></a>
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div>
              
              <!-- <div class="s_container" id="s_ten">
                <a target="_blank" href="../image/pic7.jpg">
                  <img src="../image/pic7.jpg" alt="pic7.jpg" class = "image" id = "image10"></a>
                    <div class="middle">
                      <div class="text">2019 Spring Job Seminar</div>
                    </div>
              </div> -->
              <div class="s_container" id="s_nine">
                <a target="_blank" href="../image/pic6.jpg">
                  <img src="../image/pic6.jpg" alt="pic6.jpg" class = "image" id = "image9"></a>
                    <div class="middle">
                      <div class="text">2018 Spring MT</div>
                    </div>
              </div>
              
              <div class="s_container" id="s_eleven">
                <a target="_blank" href="../image/pic8.jpg">
                  <img src="../image/pic8.jpg" alt="pic8.jpg" class = "image" id = "image11"></a>
                    <div class="middle">
                      <div class="text">2019 Spring Job Seminar</div>
                    </div>
              </div>
              
              <div class="s_container" id="s_twelve">
                <a target="_blank" href="../image/pic9.jpg">
                  <img src="../image/pic9.jpg" alt="pic9.jpg" class = "image" id = "image12"></a>
                    <div class="middle">
                      <div class="text">2019 Spring Job Seminar</div>
                    </div>
              </div>
              
              <div class="s_container" id="s_thirteen">
                <a target="_blank" href="../image/pic10.jpg">
                  <img src="../image/pic10.jpg" alt="pic10.jpg" class = "image" id = "image13"></a>
                    <div class="middle">
                      <div class="text">ASU Open Door</div>
                    </div>
              </div>
              
              <div class="s_container" id="s_fourteen">
                <a target="_blank" href="../image/pic11.jpg">
                  <img src="../image/pic11.jpg" alt="pic11.jpg" class = "image" id = "image14"></a>
                    <div class="middle">
                      <div class="text">General Meeting</div>
                    </div>
              </div>
              
              <div class="s_container" id="s_fifteen">
                <a target="_blank" href="../image/pic12.jpg">
                  <img src="../image/pic12.jpg" alt="pic12.jpg" class = "image" id = "image15"></a>
                    <div class="middle">
                      <div class="text">General Meeting</div>
                    </div>
              </div>
              

