body {
    padding: 20px;
    font-family: sans-serif;
    background: #f2f2f2;
  }
  img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
    text-align: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    z-index: -1;
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
    
  }

  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }

  /* pop up */

  .picture_popup {
    position: absolute;
}
  

.s_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.s_overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.s_popup {
    margin: 10% auto;
    margin-top:200px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    min-width: 600px;
    max-width: 700px;
    height: 500px;
    position: relative;
    transition: all 5s ease-in-out;

    /* opacity: 1; */
}
  
.s_popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.s_popup .s_close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.s_popup .s_close:hover {
    color: #da2d2d;
}
/* .s_popup {
    height: 50%;
    width: 50%;
    margin: auto;

}   */
.s_content {
    height:100%;
    width:100%;
}

.s_popimg {
    margin: auto;
    margin-top: 5%;
    margin-left: 7%;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
}

  
@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .s_popup{
      width: 70%;
    }
}

  
  
  /* for touch screen devices */
  /* @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  } */