/* Nav bar */
html {
    scroll-behavior: smooth;
}

.container-fluid {
  padding: 0;
  margin-top: 300px
}
.nav-item{
    padding-left:2rem;
    padding-top:1rem;
}
.nav-link{
    color:white;
    font-size:large;
    padding-top: 0;
    padding-bottom: 0;
    
    height: 50px;
    line-height: 50px;
}

.nav-link:active{
    color:grey;

}

.nav-item:hover{
    color:grey;
}


.navbar-brand{
    padding: 0;
}

.ksa_logo{
    height:80px;
    width:80px;
}

/* about_ksa */

img, p{
    margin:0;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

img, p{
    margin:0;
}

/* first page */

.a_background{
    font-family: Tahoma, Geneva, sans-serif;
    position: fixed;
    width: 100%;
    height: 1840px;
    top:0;
    left:0;
    z-index: -2;
}

.a_logo_title {
    height:800px;
    top:0;
}

.a_homeLogo{
    display:block;
    text-align: center;
}

#a_KSAshort{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 65px;
}

#a_KSAlong{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

.a_icon{
    width:100%;
    display:block;
    text-align: center;
}

/* about KSA */
.a_container{
    position: relative;
    width: 100%;
    height:840px;
    font-family: Tahoma, Geneva, sans-serif;
    color:rgb(255, 255, 255);
}

/* contant1 */
.a_content1{
    text-align: center;
    position:absolute;
    top:7%;
    width:100%;
    height:35%;
}

#a_koFlag{
    margin-top:2%;
    margin-left: 13%;
    position: absolute;
    top:50px;
    left:10px;
    border-style: double;
    border-width: 5px;
}

#a_usaFlag{
    margin-top:2%;
    margin-right: 13%;
    position: absolute;
    top:50px;
    right:10px;
    border-style: double;
    border-width: 5px;
}

#a_line{
    display:inline-block;
    margin-bottom: 35px;
    opacity:0.5;
}

#a_university{
    width:120px;
}

/* contant2 */
.a_content2{
    position: absolute;;
    top:49%;
    left:20%;
    right:20%;
    text-align: center;
    margin: 1px 0;
    padding:9px 0;
}

#a_header h1{
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}

.a_content2 h1{
    font-size: 28px;
    margin:5px 0;
}

/* contant3 */
.a_content3{
    text-align: center;
    position:absolute;
    top:18%;
}

/* contant4 */
.a_content4{
    text-align: center;
    position:absolute;
    bottom: 2%;
    left:45%;
    margin:0;
}

/* language Buttons */
#a_koBt{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    margin-top: 20%;
    margin-bottom:1%;
}

.a_button{
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 13px 0;
    transition-duration: 0.4s;
    cursor: pointer; 
    border:none;
}

.a_button1{
    background: transparent;
    border: none;
    letter-spacing: 0.1em;
    margin-top: 2.5rem;
    padding-left:8px;  
    outline: none;
}

.a_button1:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: red;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    opacity: 0;
  }

.a_button1:hover:after{
    transition: 0.5s;
    opacity: 1;
    width: 100%; 
}

.a_button2{
    background: transparent;
    border: none;
    letter-spacing: 0.1em;
    margin-top: 3rem;
    outline: none;
}

.a_button2:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: red;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    font-weight: bold;
  }

.a_button2:hover:after{
    width: 100%; 
}

#a_enBt{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    margin-top: 20%;
    margin-bottom:1%;
}

#a_koBt{
    animation: fadeIn 4s;
    line-height: 25px;
}

@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#a_enBt{
    animation: fadeIn 4s;
    line-height: 25px
}

@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* @media screen and (max-width: 700px){
    .a_content2{
        position: absolute;;
        top:20%;
        left:20%;
        right:20%;
        text-align: center;
        margin: 1px 0;
        padding:9px 0;
    } */

/* members */

.m_background1 {
    width: 100%;
    height: 2000px;
    filter: blur(4px) brightness(90%);
    position: absolute;
    margin-top: 10%;
}

@media screen and (min-width: 1800px){
    .m_background1 {
        width: 100%;
        height: 1300px;
        filter: blur(4px) brightness(90%);
        position: absolute;
        margin-top: 10%;
    }
}


.m_background2 {
    /*background-color: rgb(141, 160, 133);*/
    background-color: rgb(160, 112, 81);
    width: 100%;
    height: 350px;
    padding: 20px;
    position: relative;
    box-shadow: 3px 3px 9px 4px rgb(32, 39, 65);
    top: 0px;
}

.m_box1{
    /* position: absolute; */
    width: 100%;
    top: 100px;
    perspective: 1000px;
    margin-top: -300px;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

/* text - starts*/
.m_h1 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.61);
    color: rgb(250, 249, 249);
}

.m_h2 {
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(43, 18, 5);
}

.m_h3 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: rgb(5, 5, 5);
}

.m_h4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
   
    color:rgb(43, 18, 5);
}
.m_h5 {
    text-align: center;
    font-family: Georgia, Serif;
    font-style: normal;
    font-weight: 500;
    font-size:20px;
    color: rgb(26, 15, 2);
}
.m_h6 {
    text-align: center;
    font-weight: bold;
    font-family: Georgia, Serif;
    font-style: normal;
    font-weight: 600;
    font-size:20px;
    color: rgb(3, 3, 3);
}
.m_h7 {
    padding-left: 1%;
    text-align: left;
    font-size: 30px;
    font-family:Georgia, Serif;
    font-style: normal;
    font-weight: 100;
    color: rgb(165, 114, 51);
}
.m_h8 {
    font-family: Georgia, Serif;
    font-style: normal;
    font-weight: 500;
    font-size:30px;
    color: rgb(26, 15, 2);
}
.m_h9 {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:26px;
    color: rgb(26, 15, 2);
}
.m_h10 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.726);
    color: rgb(252, 248, 248);
}

.m_h11 {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
    color:rgb(43, 18, 5);
}

.m_h12 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: rgb(250, 218, 203);
}

/* text - ends */


/* cards */
.m_box3{
    width: 100%; 
    height: 2000px;
    perspective: 1000;
    margin-top: 200px;
    padding-right: 8%;
    padding-left: 8%;
}

@media screen and (min-width: 1800px){
    .m_box3 {
        width: 100%; 
        height: 2000px;
        perspective: 1000;
        margin-top: 200px;
        padding-right: 10%;
        padding-left: 10%;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1800px){
    .m_box3 {
        width: 100%; 
        height: 2000px;
        perspective: 1000;
        margin-top: 200px;
        padding-right: 15%;
        padding-left: 15%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px){
    .m_box3 {
        width: 100%; 
        height: 2000px;
        perspective: 1000;
        margin-top: 200px;
        padding-right: 15%;
        padding-left: 15%;
    }
}

.m_container{
    transition: all 0.5s ease-out;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    min-width: 21%;
    max-width: 24%; 
    height: 430px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-flex;
}

@media screen and (min-width: 1800px){
    .m_container{
        transition: all 0.5s ease-out;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
        min-width: 21%;
        max-width: 24%; 
        height: 430px;
        margin-left: 90px;
        margin-right: 80px;
        margin-top: 50px;
        margin-bottom: 20px;
        display: inline-flex;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1800px){
    .m_container{
        transition: all 0.5s ease-out;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
        min-width: 21%;
        max-width: 24%; 
        height: 430px;
        margin-left: 130px;
        margin-right: 130px;
        margin-top: 50px;
        margin-bottom: 20px;
        display: inline-flex;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px){
    .m_container{
        transition: all 0.5s ease-out;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
        min-width: 21%;
        max-width: 24%; 
        height: 430px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
        margin-bottom: 20px;
        display: inline-flex;
    }
}

.m_human {
    position: relative;
    height: 100%;
    min-width: 280px;
    max-width: 330px;
    background-color:rgb(255, 232, 213);
    padding-top:10px;
    box-shadow: 3px 3px 9px 4px rgb(36, 34, 34);
}

.m_box2{
    background-color: rgb(252, 252, 250);
    position: relative;
    margin-top: 10px;
    height: 60px;
    padding-left: 10%;
}

.m_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
}

.m_image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 3px;
}

.m_SNS {
    display: block;
    float: left; 
    width: 40px;
    height: 40px;
    margin-left: 10%;
    margin-top: 4%;
}

.m_SNS:hover{
    background:rgb(245, 224, 194);
    color: white;
}
/* cards - ends */

/* pop up*/
.m_test {
    position: absolute;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 10% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    min-width: 600px;
    max-width: 700px;
    min-height: 450px;
    max-height: 500px;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.m_icon {
    margin-left: 3%;
    margin-bottom: 3%;
    width: 40px;
    height: 40px;
}

.popup .close {         /*popup exit button*/
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {   /*change exit button color to red*/
    color: #da2d2d;
}
.popup .content {
    max-height: 100%;
    overflow: auto;
}  

.m_popimg {             /*popup image formet*/
    display: block;
    margin-left: 5%;
    margin-top: 2%;
    width: 200px;
    height: 270px;
    size: 100%;
    position: absolute;
    border : 3px solid rgb(138, 108, 108);
}

.m_popcont {
    position: absolute;
    perspective: 1000;
    top: 22%;
    left: 45%;
    min-width:300px;
    max-width:400px;
    padding-right:2%;
}

.m_popcont1 {
    position: absolute;
    perspective: 2000;
    top: 60%;
    left: 7%;
    min-width:300px;
    max-width:1000px;
    padding-right:5%;
}

@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}

/* pop up - ends */
/* members ends */




/* pictures */
.pic_padding{
    padding-top: 150px;
}

.picture{
  /* margin-bottom: 200px; */
}
.child-page-listing h2 {
  margin-top: -180px;
  margin-bottom: 1.5em;
  font-weight: bold;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
  color: rgb(250, 249, 249);
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.61);
}

.G_discription{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: rgb(252, 248, 248);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.61);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  z-index: -1;
  margin-left: 20%;
  margin-right: 20%;
}


/* hover styles */

.location-listing {
  position: relative;
  padding-left: 9%;
}

.location-title-image {
  height: 300px;
  width: 300px;
}

.location-image {
  line-height: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px 9px 4px rgba(0, 0, 0, 0.61);
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  height: 100%;
  width: 100%;
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  margin: auto;
  height: 300px;
  width: 300px;
  top: 0;
  left: 9%;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

/* pop up */

.picture_popup {
  position: absolute;
}


.s_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-Index: 2;
}
.s_overlay:target {
  visibility: visible;
  opacity: 1;
}

.s_popup {
  margin: 10% auto;
  margin-top:200px;
  padding: 20px;
  background: rgb(255, 246, 193);
  border-radius: 5px;
  width:50%;
  min-width: 600px;
  max-width: 700px;
  height: 500px;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 3;

}

/* .s_popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
} */

.s_popup .s_close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.s_popup .s_close:hover {
  color: #da2d2d;
}
.s_popup .s_content {
  max-height: 100%;
  max-width: 100%;
  /* overflow: auto; */
}  

.s_popimg {
  display:block;
  margin-left: 5%;
  margin-top: 40px;
  /* width: 80%;
  height: 85%; */
  max-width: 100%;
  max-height: 100%;
  size:100%;
  position: absolute;
}

.s_background {
  background-color: rgb(160, 112, 81);
  width: 100%;
  height: 300px;
  padding: 20px;
  margin-top:20px;
  position: static;
  box-shadow: 3px 3px 9px 4px rgba(0, 0, 0, 0.61);
}

.s_popup {
  height: 50%;
  width: 50%;
  margin-top: 200px;
}

.s_content {
  height:100%;
  width:100%;
}

.s_popimg {
  margin: auto;
  margin-top: 3%;
  margin-left: 7%;
  max-height: 80%;
  max-width: 80%;
  position: absolute;
}

.back_background{
    margin-top: 300px;
    width: 100%;
    height: 1500px;
    filter: blur(3px);
    position: absolute;
    z-index: -1;
}



/* .s_h1 {
    text-align: center;
}

.s_uofa {
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height : 150px;
}

.s_uofa:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.s_uofa2 {
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.s_uofa2:hover {
    
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.s_MT {

border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;

}

.s_MT:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}
*/