/* Nav bar */
html {
    scroll-behavior: smooth;
}

.nav-item{
    padding-left:2rem;
    padding-top:1rem;
}
.nav-link{
    color:white;
    font-size:large;
    padding-top: 0;
    padding-bottom: 0;
    
    height: 50px;
    line-height: 50px;
}

.nav-link:active{
    color:grey;

}

.nav-item:hover{
    color:grey;
}


.navbar-brand{
    padding: 0;
}

.ksa_logo{
    height:80px;
    width:80px;
}

/* about_ksa */

img, p{
    margin:0;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

img, p{
    margin:0;
}

/* first page */
.a_firstPage{
    width:1532px;
    height:1100px;
    font-family: Tahoma, Geneva, sans-serif;
    /* background: url(firstBackground.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.a_homeLogo{
    width: 400px;
    display:block;
    margin-left: 37%;
    text-align: center;
}

#a_logo{
    width:180px;
    padding-top:50px;
    padding-right:10px;
}

#a_KSAshort{
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: 65px;
}

#a_KSAlong{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    position:absolute;
    top:36%;
    left:41%;
}

.a_icon{
    width:110px;
    display:block;
    margin-left: 46.5%;
    position:absolute;
    bottom: -24%;
    text-align: center;
}

/* about KSA */
.a_container{
    width: 1532px;
    height:770px;
    background: url(SecondBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tahoma, Geneva, sans-serif;
    color:rgb(255, 255, 255);
    position: relative;
}

/* contant1 */
.a_content1{
    text-align: center;
    position:absolute;
    top:140px;
    padding: 5px 0;
    width:100%;
    height:35%;
}

#a_koFlag{
    margin-top:2%;
    margin-left: 13%;
    position: absolute;
    top:50px;
    left:10px;
    border-style: double;
    border-width: 5px;
}

#a_usaFlag{
    margin-top:2%;
    margin-right: 13%;
    position: absolute;
    top:50px;
    right:10px;
    border-style: double;
    border-width: 5px;
}

#a_line{
    display:inline-block;
    margin-bottom: 35px;
    opacity:0.5;
}

#a_university{
    width:120px;
}

/* contant2 */
.a_content2{
    margin-top: 1%;
    margin-bottom:1%;
    position:absolute;
    top:450px;
    left:20%;
    right:20%;
    text-align: center;
    margin: 1px 0;
    padding:9px 0;
}

#a_header h1{
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}

.a_content2 h1{
    font-size: 28px;
    margin:5px 0;
}

.a_content2 p{
    font-size: small;
}

/* contant3 */
.a_content3{
    position:absolute;
    text-align: center;
    position:absolute;
    top:200px;
}
.a_cont3Box1{
   height: 110px;
}

.a_cont3Box2{
    padding: 50px;
}

/* language Buttons */
#a_koBt{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    margin-top: 20%;
    margin-bottom:1%;
}

.a_button{
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 13px 0;
    transition-duration: 0.4s;
    cursor: pointer; 
    border:none;
}

.a_button1{
    background: transparent;
    border: none;
    letter-spacing: 0.1em;
    margin-top: 2.5rem;
    padding-left:8px;  
    outline: none;
}

.a_button1:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: red;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    opacity: 0;
  }

.a_button1:hover:after{
    transition: 0.5s;
    opacity: 1;
    width: 100%; 
}

.a_button2{
    background: transparent;
    border: none;
    letter-spacing: 0.1em;
    margin-top: 3rem;
    outline: none;
}

.a_button2:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: red;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    font-weight: bold;
  }

.a_button2:hover:after{
    width: 100%; 
}

#a_enBt{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    margin-top: 20%;
    margin-bottom:1%;
}

#a_koBt{
    animation: fadeIn 4s;
    line-height: 25px;
}

@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#a_enBt{
    animation: fadeIn 4s;
    line-height: 25px
}

@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* members */

.m_background1 {
    width: 100%;
    height: 1500px;
    filter: blur(3px);
    position: absolute;
}

.m_background2 {
    background-color: rgb(141, 160, 133);
    width: 100%;
    height: 300px;
    padding: 20px;
    position: relative;
    top: 0px;
}

.m_box1{
    /* position: absolute; */
    width: 100%;
    top: 100px;
    perspective: 1000px;
    margin-top: -300px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

/* text - starts*/
.m_h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    color: rgb(250, 249, 249);
}

.m_h2 {
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(43, 18, 5);
}

.m_h3 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: rgb(5, 5, 5);
}

.m_h4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
   
    color:rgb(43, 18, 5);
}
.m_h5 {
    text-align: center;
    font-family: Georgia, Serif;
    font-style: normal;
    font-weight: 500;
    font-size:20px;
    color: rgb(26, 15, 2);
}
.m_h6 {
    text-align: center;
    font-weight: bold;
    font-family: Georgia, Serif;
    font-style: normal;
    font-weight: 600;
    font-size:20px;
    color: rgb(3, 3, 3);
}
.m_h7 {
    padding-left: 9%;
    text-align: left;
    font-size: 30px;
    font-family:Georgia, Serif;
    font-style: normal;
    font-weight: 100;
    color: rgb(165, 114, 51);
}
.m_h8 {
    font-family: Georgia, Serif;
    font-style: normal;
    font-weight: 500;
    font-size:30px;
    color: rgb(26, 15, 2);
}
.m_h9 {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:26px;
    color: rgb(26, 15, 2);
}
.m_h10 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: rgb(252, 248, 248);
}

.m_h11{
    padding-left: 43%;
}
/* text - ends */


/* cards */
.m_box3{
    left: 2%;
    width: 100%; 
    height: 2000px;
    perspective: 1000;
    margin-right: 5%;
}



.m_container{
    transition: all 0.5s ease-out;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    width: 280px; 
    height: 430px;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-flex;
}

.m_human {
    position: relative;
    height: 100%;
    width: 100%;
    background-color:rgb(245, 224, 194);
    padding-top:10px;
    box-shadow: 3px 3px 9px 4px rgb(36, 34, 34);
}

.m_box2{
    background-color: rgb(252, 252, 250);
    position: relative;
    margin-top: 10px;
    height: 60px;
    padding-left: 10%;
}

.m_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
}

.m_SNS {
    display: block;
    float: left; 
    width: 40px;
    height: 40px;
    margin-left: 10%;
    margin-top: 4%;
}

.m_SNS:hover{
    background:rgb(245, 224, 194);
    color: white;
}
/* cards - ends */

/* pop up*/
.m_test {
    position: absolute;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 10% auto;
    margin-top:200px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    min-width: 600px;
    max-width: 700px;
    height: 500px;
    position: relative;
    transition: all 5s ease-in-out;
}
  

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #da2d2d;
}
.popup .content {
    max-height: 100%;
    overflow: auto;
}  

.m_popimg {
    display:block;
    margin-left: 5%;
    margin-top: 40px;
    width: 200px;
    height: 300px;
    size:100%;
    position: absolute;
}

.m_popcont {
    position: absolute;
    perspective: 1000;
    top: 20%;
    left: 45%;
    min-width:300px;
    max-width:400px;
    padding-right:2%;

}


@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}

/* pop up - ends */
/* members ends */




/* pictures */
.p_h1 {
    text-align: center;
    color: blue;
}


.gal {
  
    
    padding-right : 300px ;
    /* padding-bottom : 100px ; */
    padding-left : 300px ;

	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
	}	
	.gal div{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
	.gal {
	
      
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
      
    
    }
        
}


.s_container {
    position: relative;
    width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  /* position: relative; */
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* width : 50px;
  height : 50%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.s_header {

    text-align: center;

}

img {
     
     
    padding: 5px; 
    width: 150px; 
  }
  
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


.s_container:hover .image {
  opacity: 0.3;
}

.s_container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #FFEBCD;
  color: black;
  font-size: 16px;
  /* width: 50px; */
  padding: 16px 32px;
  /* padding: 16px; */
}


/* .s_h1 {
    text-align: center;
}

.s_uofa {
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height : 150px;
}

.s_uofa:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.s_uofa2 {
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.s_uofa2:hover {
    
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.s_MT {

border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;

}

.s_MT:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}
*/